._NoData {
	font-size: 0;
	padding-top: 2.2rem;
	>img {
		display: block;
		margin: 0 auto;
		width: 2rem;
	}
	>p {
		padding: 0;
		margin: 0;
		margin-top: .5rem;
		text-align: center;
	}
    .sub {
        font-size: .28rem;
        color: #959595;
        width: 46%;
        margin: .5rem auto;
    }
    .main {
        font-size: .3rem;
        color: #464646;
    }
}