.loadMoreFooter {
    font-size: .28rem;
    color: #9B9B9B;
    text-align: center;
    width: 100%;
    margin-top: .41rem;
    > img {
        height: .28rem;
        width: .28rem;
        margin-right: .1rem;
    }
}